<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0">
	
	<link rel= 'stylesheet' type= 'text/css' href= 'css/bootstrap.min.css' />
	<link rel= 'stylesheet' type= 'text/css' href= 'fontawesome/css/all.css' />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet"> -->

	<style>
		html, body{
			height: 100%;
			font-family: cursive;
		}
	</style>

</head>
<body>
	
	<%- include("../partial/user_header") %>
	<%- body %>
	
	<script src= 'js/jquery.js'></script>
	<script src= 'js/bootstrap.min.js'></script>
	<script src= 'js/script.js'></script>
</body>
</html>