<link rel= 'stylesheet' type= 'text/css' href= 'css/allBlogs.css' />

<div id= "main" class= "d-flex align-items-center justify-content-center align-items-center">
	<div id= "mainContainer" class= "container d-flex-reverse col-sm-9 col-10">
		
		<div class= "container d-flex justify-content-between" id= "topSection"> 
			<h2 class= "p-3">
				Every content you need...
			</h2>
			<div class= "p-3 d-flex align-items-center">
				<a href= '/blogs/new' ><i class="fas fa-pencil-alt h5"></i></a>
			</div>
		</div>

		<div id= "blogsContainer">
			<% blogsList.forEach((blog)=>{ %>
			
				<div class= "m-4 mb-5 p-4 singleBlog">
					
					<h3 class= "blog_title" ><%= blog.title %></h3>
					<p class= "text-muted mb-0" >@ <%= blog.author.username %></p>
					<div class= "blogContent" ><%= blog.content %></div>
					<a href= '/blogs/read/<%= blog.id %>' class= "" >Read More</a>
				
				</div>
				
			<% }) %>
			
		</div>
	</div>
</div>
