<div class= "container col-10 mt-5">
	<div class= "title col-12"> 
		<span class=' offset-1'>
			All Blogs
		<span>
		<a href= '/blogs/new'>&#43</a>
	</div>
	<div>
	
		<% blogsList.forEach((blog)=>{ %>
		
			<div class= "container col-11 col-lg-10 blog">
				
				<h3 class= "blog_title"><%= blog.title %> <%= blog.author.username %></h3>
				<div class= "blog_content"><%= blog.content %></div>

				<div class= "buttons">
					<div>
						<a href= '/blogs/read/<%= blog.id %>' class= "" >Read More</a>
					</div>
				</div>
				
				<% if(blog.author.id === authorized_userId){ %>
					<span>
						<i class="fas fa-trash-alt"></i>
					</span>
				<% } %>
			
			</div>
			
		<% }) %>
		
	</div>
</div>
