<link rel= 'stylesheet' type= 'text/css' href= 'css/readBlog.css' />

<div id= "main" class= "d-flex justify-content-center align-items-center">
	<div id= "blogContainer" class= "col-sm-9 col-10">

		<div id= "heading"> 
			<h3 class= "text-center"><%= blog.title %></h3>
			
			<div class= "d-flex justify-content-between">
				<p class= "text-muted mb-1">@ <%= blog.author.username %> </p>
				<% if(blog.author.id === authorized_userId){ %>
					<span id= "deleteBlog" ><i class="fas fa-trash-alt"></i>
					</span>
				<% } %>
			</div>		

		</div>

		<div id= "content" class= "h5"><%= blog.content %></div>
		
	</div>
	
</div>


<script defer>
	var mainContainer= document.querySelector("#main");
	mainContainer.style.backgroundImage = "url(./images/" + Math.ceil(Math.random() * 13) + ".jpg)";

	var deleteIcon= document.querySelector("#deleteBlog");
	
	if(deleteIcon !== null){
		deleteIcon.addEventListener("click", async(event) => {
			var pathname= document.location.pathname;
			var blogId= pathname.split("/")[3];
		
			var options= {
				method: 'DELETE',
				headers: {
					blogid : blogId
				}
			}
		
			var response= await fetch(`/blogs/delete`, options);
	
			if(response.ok)
				document.location.href= "/blogs";
			else
				document.location.reload();
		
		});
	}
	
</script>



