<div class= "container col-10 mt-5">
	<div class= "title col-12"> 
		<h3 class= "blog_title"><%= blog.title %> <%= blog.author.username %></h3>
	</div>
	<div>
		<div class= "blog_content"><%= blog.content %></div>
		
			<% if(blog.author.id === authorized_userId){ %>
				<span id= "deleteBlog"><i class="fas fa-trash-alt"></i>
				</span>
			<% } %>
		
	</div>
	
</div>
