<div class= "container col-10 mt-5">
	<div class= "title col-12"> 
		<h3 class= "blog_title"><%= blog.title %> <%= blog.author.username %></h3>
	</div>
	<div>
		<div class= "blog_content"><%= blog.content %></div>
		
			<% if(blog.author.id === authorized_userId){ %>
				<span id= "deleteBlog" ><i class="fas fa-trash-alt"></i>
				</span>
			<% } %>
		
	</div>
	
</div>


<script>
	var deleteIcon= document.querySelector("#deleteBlog");
	
	deleteIcon.addEventListener("click", async(event) => {
		var pathname= document.location.pathname;
		var blogId= pathname.split("/")[3];
	
		var options= {
			method: 'DELETE',
			headers: {
				blogid : blogId
			}
		}
	
		var response= await fetch(`/blogs/delete`, options);

		if(response.ok)
			document.location.href= "/blogs";
		else
			document.location.reload();
	
	});
	
</script>





