
<form method= 'POST' action= '/register' class= 'container col-md-6 col-8 mt-5'>

	<h2 class= 'text-center mb-3'>
		Register
	</h2>
	
	<div class= 'form-group row col-md-10 offset-md-1 col-10 offset-1'>
		<input type= 'text' placeholder= 'Your Username' name= 	'email' class= 'form-control'  required>
	</div>

	<div class= 'form-group row col-md-10 offset-md-1 col-10 offset-1'>
		<input type= 'email' placeholder= 'Your Email ID' name= 'email' class= 'form-control'  required>
	</div>

	<div class= 'form-group row col-md-10 offset-md-1 col-10 offset-1'>
		<input type= 'password' placeholder= 'Your password' name= 'password' required class= 'form-control'>
	</div>

	<div class= 'text-center mb-3'>
		Already registered?<a href= '/login'>Login</a>
	</div>
	
	<div class= 'form-group row'>
		<button type= 'submit' class= 'col-md-4 offset-md-4 btn btn-primary col-6 offset-3'>Submit</button>
	</div>

	

</form>
