.info{
	background-color: #e5e5e5;
	height: 350px;
}

.info q{
	font-family : cursive;
}

.img-fluid{
	height: 400px;
	width: 100%;
}

@media(min-width: 750px){
	.img-fluid{
		height: 700px;
		margin-top: -100px;
	}

	.carousel-caption{
		font-size: 2rem;
	}
}

@keyframes toAndfro{
	100% {transform : translate(-10px, 0px);}
}

.pointMotion{
	animation: toAndfro 0.3s linear 0s infinite alternate;
}

.footer{
	height: 200px;
	color: #fff;
}
