#main{
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url("../images/image1.jpeg");
	padding: 7% 0% 6%;
	min-height: 90%;
}

#formContainer{
	background-color: white;
	border-radius: 20px 20px;
}

#blogContainer #heading{
	margin: 4% 8% 0% 8%;
}

#blogContainer #content{
	margin: 0% 8% 4% 8%;
}