.title{
	margin: 10px 0px;
	font-size: 2em;
	display: grid;
	grid-template-columns: 30% 3%;
	justify-content: space-between;
}
.container{
	margin-top: 2%;
	padding: 1%;
	padding-bottom: 1.5%;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;
}

.container .container{
	padding: 1.6%;
}

.container .title, .container .blog_title{
	font-family: sans serif;
}

.container .blog_title{
	color: #333;
}

.blog .blog_content{
	font-size: 1.1em;
	color: #444;
	padding: 6px;
}

.buttons{
	display: grid;
	grid-template-columns: auto 30%;
}
