
<nav class="navbar navbar-expand-lg navbar-light shadow">
	<a class="navbar-brand font-weight-bolder" href="/">
		<strong class= "h2 font-weight-bolder">4</strong>th Dimension
	</a>	
  
	<button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="h5 m-0 navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
		
			<li class="nav-item" id= "home">
				<a class="nav-link " href="/">Home</a>
			</li>
		
			<li class="nav-item" id= "login">
				<a class="nav-link " href="/login">Login</a>
			</li>
		  
			<li class="nav-item" id= "register">
				<a class="nav-link" href="/register" >Register</a>
			</li>
			
		</ul>
	</div>

	<script defer>
		//adding active class name
		
		var homeItem= document.querySelector("#home");
		var loginItem= document.querySelector("#login");
		var registerItem= document.querySelector("#register");
			
		if(document.location.pathname.includes("/login"))
			loginItem.className += " active font-weight-bold";
		
		else if(document.location.pathname.includes("/register"))
			registerItem.className += " active font-weight-bold";

		else
			homeItem.className += " active font-weight-bold";
	
	
	</script>

</nav>


